<style type="text/css">
.hidden{display: none;}
@media screen and (max-width: 480px){
tr.listhead {display: none;}
table.punchtable td {display: block;text-align: left;padding: 10px;}
.punchtable {margin: auto;}
.punch {font-weight: bold;}
.hidden{display: inline-block;vertical-align:text-top}
.instruction{visibility: hidden;}
}

@media screen and (min-width: 481px){
span.forMobilePunch {display: none;}
}

</style>
